<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>list de tâche </h1>
    <form action="/list" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" >
        <input type="submit" >
    </form>
    <ul>
        <% lists.forEach((list)=>{ %>
           <a href=" list/<%= list.list_id %>"><li><%= list.name %></li></a>
            
       <% })%>
    </ul>
</body>
</html>